{% extends 'base.html' %}

{% block content %}
<div class="container fw-bold">
    <div class="col-lg-4 mx-auto">
        <p class="text-center text-uppercase">Top Performers</p>
        <p class="text-center text-uppercase">Round 2</p>
        <br>
        <p class="text-center text-uppercase fw-bold">Most Runs</p>
        <table class="table table-sm table-striped">
            <thead class="bg-dark text-light text-center">
                <tr>
                    <th scope="col">PLAYER</th>
                    <th scope="col">TEAM</th>
                    <th scope="col">RUNS</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for object in runs %}
                <tr>
                    <td>{{object.player}}</td>
                    <td>{{object.team}}</td>
                    <td>{{object.runs}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <p class="text-center text-uppercase fw-bold">Most Wickets</p>
        <table class="table table-sm table-striped text-center">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">PLAYER</th>
                    <th scope="col">TEAM</th>
                    <th scope="col">WKTS</th>
                </tr>
            </thead>
            <tbody>
                {% for object in wickets %}
                <tr>
                    <td>{{object.player}}</td>
                    <td>{{object.team}}</td>
                    <td>{{object.wickets}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <img class="border border-dark border-2"
                style="height: 3rem;"
                src="{{ MEDIA_URL }}/sponsors/Olliver_gobat_sports_fund.jpg"
                alt="">
            <img class="mx-3 border border-dark border-2"
                style="height: 3rem;"
                src="{{ MEDIA_URL }}/sponsors/totalautoinc.jpg"
                alt="">
        </div>
    </div>
</div>
<ul>
    <li>
        <a href="{% url 'write-up-list' %}">Write ups</a>
    </li>
    <li>
        <a href="{% url 'top-performer-bat-list' %}">Top bat</a>
    </li>
    <li>
        <a href="{% url 'top-performer-bowl-list' %}">Top bowl</a>
    </li>
    <li>
        <a href="{% url 'semi-top-bat-list' %}">Semi Top bat</a>
    </li>
    <li>
        <a href="{% url 'semi-top-bowl-list' %}">Semi Top bowl</a>
    </li>
    <li>
        <a href="{% url 'presentation-ceremony-list' %}">Presentation
            Ceremony</a>
    </li>
</ul>
{% endblock content %}