{% extends 'base.html' %}

{% block content %}
<a href="/">back</a>
<div class="container fw-bold">
    <div class="col-lg-5 mx-auto">
        <p class="text-center text-uppercase">Top Performers at Semis</p>
        <p class="text-center text-uppercase fw-bold">Bowling</p>
        <table class="table table-sm table-striped text-center">
            <thead class="bg-dark text-light">
                <tr>
                    <th scope="col">PLAYER</th>
                    <th scope="col">MATCHES</th>
                    <th scope="col">MAIDENS</th>
                    <th scope="col">OVERS</th>
                    <th scope="col">RUNS</th>
                    <th scope="col">WKTS</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{object.player}}</td>
                    <td>{{object.matches}}</td>
                    <td>{{object.maidens}}</td>
                    <td>{{object.overs}}</td>
                    <td>{{object.runs}}</td>
                    <td>{{object.wickets}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
      
        <div class="d-flex justify-content-center">
            <img class="border border-dark border-2"
                style="height: 3rem;"
                src="{{ MEDIA_URL }}/sponsors/Olliver_gobat_sports_fund.jpg"
                alt="">
            <img class="mx-3 border border-dark border-2"
                style="height: 3rem;"
                src="{{ MEDIA_URL }}/sponsors/totalautoinc.jpg"
                alt="">
        </div>
    </div>
</div>
{% endblock content %}